<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chefs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <a style="float: right;" href="new">Add a Chef</a>
    
    <div class="container center-align">
        <p>Chefs | <a href="dishes">Dishes</a></p>
        <p>Check out our roster of Chefs!</p>
        <hr style="border: 1px solid black;">
        <table>
            <thead>
                <th>Name</th>
                <th>Age</th>
                <th># of Dishes</th>
            </thead>
            <tbody>
                @model List<Chef>
                @{
                    foreach(var chef in @Model) 
                    {
                        <tr>
                            <td>@chef.Fname @chef.Lname</td>
                            <td>@(DateTime.Today.Year-@chef.Birthday.Year)</td>
                            <td>@chef.DishesMade.Count</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>
</html>