<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>New Dish</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        label {
            display: block !important;
        }
        .errorMsg {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Add a Dish!</h2>
        <a href="/">Home</a>
        @model Dish
        <form asp-action="NewDish" asp-controller="Home" method="post">

            <br>
            <span class="errorMsg" asp-validation-for="Name"></span>
            <label asp-for="Name"></label>
            <input asp-for="Name">
            <br>

            <br>
            <span class="errorMsg" asp-validation-for="Chef"></span>
            <label asp-for="Chef"></label>
            <div class="input-field col s12">
                <select asp-for="Chef">
                    <option value=""></option>
                    @{
                        foreach(var chef in @ViewBag.AllChefs) 
                        {
                            <option value="@chef.UserId">@chef.Fname @chef.Lname</option>
                        }
                    }
                </select>
            </div>
            <br>

            <br>
            <span class="errorMsg" asp-validation-for="Calories"></span>
            <label asp-for="Calories"></label>
            <input asp-for="Calories">
            <br>

            <br>
            <span class="errorMsg" asp-validation-for="Tastiness"></span>
            <label asp-for="Tastiness"></label>
            <select asp-for="Tastiness">
                <option value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br>

            <br>
            <span class="errorMsg" asp-validation-for="Description"></span>
            <label asp-for="Description"></label>
            <textarea asp-for="Description" cols="30" rows="10"></textarea>
            <br>

            <br>
            <input type="submit" value="Add Dish">
            
        </form>
    </div>
</body>
</html>